__pycache__/
.idea/
venv/
.venv/
dev_dmdi_files/
.DS_Store
__pycache__/
tmp/
generate_files.pkexec
it.weeeopen.peracotta.generate-files.policy
.env
tmp_smb_mount/
copy_this_to_tarallo.json
features.json
features.json.bak
scripts/tmp/
.pre-commit-config.yaml
pera*.bin
pera*.build
pera*.dist
pera*.onefile-build
.vscode/
publish.sh
dist/
build/
*.egg-info
logs
*/*.log