attrs==19.3.0
fuzzywuzzy==0.18.0
importlib-metadata==2.0.0
iniconfig==1.1.1
more-itertools==8.0.2
packaging==23.2
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.6
pytest==6.2.5
pytest-qt==4.2.0
six==1.13.0
toml==0.10.2
wcwidth==0.1.7
zipp==3.3.1
black==23.11.0
