certifi==2023.7.22
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
idna==3.7
Pygments==2.15.0
PyQt5>=5.14.2
pytarallo>=2.3.0
python-dotenv==0.17.0
requests==2.32.0
rich==9.13.0
typing-extensions==3.7.4.3
urllib3==1.26.19
