-r requirements.txt
attrs==19.3.0
black==24.4.1
build==1.2.1
fuzzywuzzy==0.18.0
importlib-metadata==2.0.0
iniconfig==1.1.1
more-itertools==8.0.2
platformdirs==4.2.0
pre-commit==3.5.0
pytest==8.1.1
pytest-qt==4.4.0
packaging==19.2
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.6
pytest==6.2.5
pytest-qt==4.0.2
six==1.13.0
toml==0.10.2
typing_extensions==4.11.0
twine==5.0.0
virtualenv==20.26.0
wcwidth==0.1.7
zipp==3.19.1